
<h3>Cart</h3>
<p>
<a routerLink="/shipping"> Shipping Prices </a> 
</p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ items.name }}</span>
  <span>{{ items.price | currency }}</span>
</div>

<form [formGroup]="checkOutForm" (ngSubmit)="(checkOutForm.value)" >

</form> 

<div>
  <label for="name">
    name
  </label>
<input id="name" type="text" formControllName="name">
</div>

<div>
  <label for="address">
    address
  </label>
  <input id="address" type="text" formControlName="address">
</div>

<button type="submit" class="button"> Purchase </button> 
